.button {
  min-width: 220px;
  min-height: 50px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;

  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;

  color: whitesmoke;
  font-size: 15px;
}

.button:hover {
  /*box-shadow: 0 0 5px 0 #FFFFAAFF inset, 0 0 16px 2px #FFFFAAFF;*/
  border: 2px solid #FFFFAAFF;
  background: #081b26;

  letter-spacing: 0.05rem;
  cursor: pointer;
}

.downButton {
  margin-top: 80px;
  min-width: 50px;
}

.section {
  height: 70vh;
}

.contentArea {
  text-align: center;
  padding-top: 15%;
}

.intro {
  margin: 0;
  font-size: 20px;
  opacity: 0.5;
}

.name {
  margin: 0;
  font-size: 100px;
}

.tagline {
  margin-top: -10px;
  font-size: 35px;
  opacity: 0.8;
}