.iconHolder {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  margin: 0.5vw;
  display: block;
  justify-content: center;
  align-items: center;
}

.icon > img {
  margin: auto;
  width: 80px;
  vertical-align: middle;
  aspect-ratio: 1/1;
  pointer-events: none;
}