.heading {
  color: #081b26;
  font-size: 50px;
  padding-top: 100px;
}

.text {
  color: #081b26;
  font-size: 20px;
  opacity: 0.9;
}

.section {
  margin-top: 0;
  background-color: whitesmoke;
}

.contentArea {
  padding: 1% 10% 5%;
  text-align: center;
  justify-content: center;
}

.iconHolder {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  margin: 0.5vw;
  display: block;
  justify-content: center;
  align-items: center;
}

.icon > img {
  margin: auto;
  width: 80px;
  vertical-align: middle;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.iconName {
  color: #081b26;
}

.projectContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  padding: 5px
}

.contactFormParent {
  width: 100%;
  display: flex;
  justify-content: center;
}