img {
  margin-right: 10px;
}

button {
  border-radius: 25px;
  min-width: 200px;
  min-height: 50px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: #081b26;

  color: whitesmoke;
  font-size: 15px;
}

button:hover {
  background-color: #2a5b7d;
}

.downButton {
  margin-top: 80px;
  min-width: 50px;
}

.section {
  height: 70vh;
}

.contentArea {
  text-align: center;
  padding-top: 15%;
  /*padding-left: 10%;*/
  opacity: 99%;
}

.intro {
  margin: 0;
  font-size: 20px;
  opacity: 50%;
}

.name {
  margin: 0;
  font-size: 100px;
}

.tagline {
  margin-top: -10px;
  font-size: 35px;
  opacity: 80%;
}