@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #081b26;
}

h1, h2, h3, h4 {
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: whitesmoke;
}

.spacer {
  /*background-color: #06161f;*/
  aspect-ratio: 2937/532;

  /*aspect-ratio: 900/100;*/
  width: 101%;
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}

.divider1 {
  background-image: url("assets/images/layered-waves-haikei-blue.svg");
}

.divider2 {
  background-image: url("assets/images/layered-waves-haikei.svg");
}

.city {
  background-image: url("assets/images/city.png");
}

.flip {
  transform: rotate(180deg);
}